#  :: Spring Boot :: (v2.3.3.RELEASE) Started DemoApplication in 2.159 seconds (JVM running for 2.63)
```
---- Global Information --------------------------------------------------------
> request count                                        200 (OK=200    KO=0     )
> min response time                                      1 (OK=1      KO=-     )
> max response time                                     28 (OK=28     KO=-     )
> mean response time                                     4 (OK=4      KO=-     )
> std deviation                                          4 (OK=4      KO=-     )
> response time 50th percentile                          3 (OK=3      KO=-     )
> response time 75th percentile                          5 (OK=5      KO=-     )
> response time 95th percentile                         10 (OK=10     KO=-     )
> response time 99th percentile                         21 (OK=21     KO=-     )
> mean requests/sec                                     40 (OK=40     KO=-     )
```

#  powered by Quarkus 1.7.0.Final) started in 1.098s. Listening on: http://0.0.0.0:8080
```
---- Global Information --------------------------------------------------------
> request count                                        200 (OK=200    KO=0     )
> min response time                                      1 (OK=1      KO=-     )
> max response time                                     24 (OK=24     KO=-     )
> mean response time                                     4 (OK=4      KO=-     )
> std deviation                                          3 (OK=3      KO=-     )
> response time 50th percentile                          3 (OK=3      KO=-     )
> response time 75th percentile                          5 (OK=5      KO=-     )
> response time 95th percentile                         11 (OK=11     KO=-     )
> response time 99th percentile                         15 (OK=15     KO=-     )
> mean requests/sec                                     40 (OK=40     KO=-     )
```

#  micronaut version:2.0.1 Startup completed in 1370ms. Server Running: http://DESKTOP-NF90OD6:8080
```
---- Global Information --------------------------------------------------------
> request count                                        200 (OK=200    KO=0     )
> min response time                                      1 (OK=1      KO=-     )
> max response time                                     34 (OK=34     KO=-     )
> mean response time                                     4 (OK=4      KO=-     )
> std deviation                                          4 (OK=4      KO=-     )
> response time 50th percentile                          3 (OK=3      KO=-     )
> response time 75th percentile                          4 (OK=4      KO=-     )
> response time 95th percentile                         11 (OK=11     KO=-     )
> response time 99th percentile                         27 (OK=27     KO=-     )
> mean requests/sec                                     40 (OK=40     KO=-     )
```

#  Helidon SE 2.0.1 features: [Config, Health, Metrics, WebServer]
```
---- Global Information --------------------------------------------------------
> request count                                        200 (OK=200    KO=0     )
> min response time                                      1 (OK=1      KO=-     )
> max response time                                     28 (OK=28     KO=-     )
> mean response time                                     4 (OK=4      KO=-     )
> std deviation                                          3 (OK=3      KO=-     )
> response time 50th percentile                          3 (OK=3      KO=-     )
> response time 75th percentile                          4 (OK=4      KO=-     )
> response time 95th percentile                          9 (OK=9      KO=-     )
> response time 99th percentile                         16 (OK=16     KO=-     )
> mean requests/sec                                     40 (OK=40     KO=-     )
```

