name: Workflow for tests

on:
  push:
    branches:
      - main
permissions:
  contents: write
  id-token: write
  pages: write
  pull-requests: write
  deployments: write
  statuses: write
  checks: write
  packages: write
  repository-projects: write

jobs:
  native-build:
    uses: ./.github/workflows/native-build.yml
  rungatling:
    needs: native-build
    uses: ./.github/workflows/rungatling.yml
  runk6:
    needs: rungatling
    uses: ./.github/workflows/runk6.yml
  post-mastodon:
    needs: rungatling
    uses: ./.github/workflows/post-mastodon.yml
    secrets:
      MASTODON_ACCESS_TOKEN: ${{ secrets.MASTODON_ACCESS_TOKEN }}
      MASTODON_URL: ${{ secrets.MASTODON_URL }}